<html>

<head>
  <%- include('./partials/header', {title: title}); %>
</head>

<body>
  <div id="content-wrap">
    <%- include('./partials/navbar', {state: username}); %>

      <h1 id="pageTitle">Game <%= gameID %> (Authenticated)</h1>

      <ul>
        <li><a href="/games/42">Game with ID 42</a></li>
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/log-out">Log-Out</a></li>
      </ul>

      <p>You are: <%= username %>
          <%= email %> (<%= id %>)</p>
  </div>
  <%- include('./partials/footer'); %>
</body>

</html>