<html>

<head>
  <%- include('./partials/header', {title: title}); %>
</head>

<body>
  <div id="content-wrap">
    <%- include('./partials/navbar', {state: username}); %>

      <h1 id="pageTitle">Game <%= gameID %></h1>
      <%- include('partials/chat.ejs') %>
  </div>
  <%- include('./partials/footer'); %>
</body>

</html>