<html>

<head>
  <%- include('./partials/header', {title: title}); %>
  <link rel="stylesheet" href="/stylesheets/game.css" type="text/css">
</head>

<body>
  <div id="content-wrap">
    <%- include('./partials/navbars/authenticated_navbar', {username: username, id: id}); %>
    
    <h1 class="page-title">Game <%= gameID %></h1>
    <div class="game-page">
      <div class="board-and-player-tiles" style="width: 50%">
        <div class="board">
          <% for (let i = 0; i < 15; i++) { %>
            <% for (let j = 0; j < 15; j++) { %>
              <% let index = i * 15 + j %>
              <% if (board[index].letter_multiplier === 2) { %>
                <div class="square" style="background-color:lightblue">
              <% } else if (board[index].letter_multiplier === 3) { %>
                <div class="square" style="background-color:teal;">
              <% } else if (board[index].word_multiplier === 2) { %>
                <div class="square" style="background-color: pink;">
              <% } else if (board[index].word_multiplier === 3) { %>
                <div class="square" style="background-color: red;">
              <% } else { %>
                <div class="square">
              <% } %> 
              <%= board[index].x %>, <%= board[index].y %></div>
            <% } %>
          <% } %>
        </div>

        <div class="player-tiles">
          <% for (let i = 0; i < playerTiles.length; i++) { %>
            <div class="square" style="background-color: #E1B995;"><%= playerTiles[i].letter %></div>
          <% } %>
        </div>

        <div id="gameButtons">
          <button id="resignButton">Resign</button>
          <button id="passButton">Pass</button>
          <button id="swapButton">Swap</button>
          <button id="submitButton">Submit</button>
        </div>
      </div>
      <%- include('partials/chat.ejs') %>
    </div>
  </div>
  <div>

  <!-- Information used in JavaScript files -->
  <div id="user" data-user-id="<%= id %>"></div>

  <%- include('./partials/footer'); %>
  </div>
</body>

</html>