<html>

<head>
  <%- include('./partials/header', {title: title}); %>
  <style>
    #lobby {
      display: flex;
      justify-content: space-around;
    }
  </style>
</head>

<body>
  <div id="content-wrap">
    <%- include('./partials/navbars/authenticated_navbar', {username: username}); %>
    
    <h1 id="pageTitle">Lobby (Authenticated)</h1>

    <div id="lobby">
      <div id="user-in-games">
        <h3>Games you are In:</h3>
        <ul id="games-user-in-list">
          <% for(let i = 0; i < gamesUserIsIn.length; i++) { %>
          <li>
            <span class="game-title"><%= gamesUserIsIn[i].title %></span>
            <button onclick="window.location.href='/games/<%= gamesUserIsIn[i].game_id %>'">Go</button>
          </li>
          <% } %>
        </ul>
      </div>
      <div id="games-container">
        <h3>Create or Join an Existing Game:</h3>
        <button onclick="window.location.href='/games/create-game'">Create Game</button>
        <ul id="games-list">
          <% for(let i = 0; i < games.length; i++) { %>
          <li>
            <span class="game-title"><%= games[i].title %></span>
            <button onclick="window.location.href='/api/games/<%= games[i].id %>/join'">Join</button>
          </li>
          <% } %>
        </ul>
      </div>
      <%- include('partials/chat.ejs') %>
    </div>
  </div>
  <template id="available-game-item">
    <li>
      <span class="game-title"></span>
      <button onclick="">Join</button>
    </li>
  </template>
  <%- include('./partials/footer'); %>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>